body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgba(204, 54, 54, 0.263);
}



header {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
    background-image: url('https://media.istockphoto.com/id/1276645382/pt/foto/chocolate-assortment-background-top-view-of-different-kinds-of-chocolate.jpg?b=1&s=612x612&w=0&k=20&c=UPdl3sMyRQfbfXE1337upC7VpN_Z8hrmv6jMT7l-Ipk=');
    background-size: cover;
    background-position: center;
    opacity: 0.9;

}

header h1 {
    color: rgb(255, 255, 255);
    opacity: 1;
    text-shadow: 3px 2px #640d00;
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    margin: 0 10px;
    color: #ffffff;
}

nav a:hover {
    color: #640d00;
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 20px;
}

.product {
    margin-bottom: 20px;
    border: none;
    padding: 10px;
    overflow: hidden;
}

.product img {
    float: left;
    margin-right: 10px;
    max-width: 100px;
}

.product h3 {
    margin-top: 0;
}

.contact-form {
    max-width: 600px;
    margin: auto;
}

.contact-form label, .contact-form input, .contact-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    
}

.contact-form input {
    background-color: #ffffff90;
}


.contact-form textarea {
    height: 120px;
    background-color: #ffffff90;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #640d00e0;
    color: rgb(247, 244, 244);
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #640d00;
}

.footer {
    background-color:  #762727;
    color:  #ffffff90;
    text-align: center;
    padding: 5px;
}